<header class='content-navigation container'>
  <nav class='header-links'>
    <%= link_to t('wrapper.navigation.analytics'), analytics_path, class: 'header-link' %>
    <%= link_to t('wrapper.navigation.operations'), operations_path, class: 'header-link' %>
  </nav>
  <div class='profile-block toggle'>
    <h4 class='navigation-link' @click.prevent='toggle()'>
      <%= image_tag gravatar_source, width: 48, height: 48, alt: 'gravatar' %>
    </h4>
    <div class='navigation-dropdown' v-show='isOpen'>
      <div class='select-language'>
        <% I18n.available_locales.each do |locale| %>
          <%= link_to image_tag(asset_pack_path("media/images/icons/#{locale}.png"), alt: 'change locale', width: 25, height: 17), change_locale(locale), class: 'flag' %>
        <% end %>
      </div>
      <div class='settings-links'>
        <%= link_to t('wrapper.navigation.portfolios'), portfolios_path, class: 'settings-link' %>
      </div>
      <%= link_to t('devise.logout'), destroy_user_session_path, class: 'settings-link' %>
    </div>
  </div>
</header>
