<header class='content-navigation container mx-auto'>
  <nav class='header-links'>
    <%= link_to t('wrapper.navigation.portfolios'), portfolios_path, class: 'header-link' %>
    <%= link_to t('wrapper.navigation.analytics'), analytics_path, class: 'header-link' %>
  </nav>
  <div class='profile-block' data-controller='shared--navigation' data-action='shared--navigation:click:outside->shared--navigation#close'>
    <h4 class='navigation-link' data-action='click->shared--navigation#toggle'>
      <%= image_tag gravatar_source, width: 48, height: 48, alt: 'gravatar' %>
    </h4>
    <div class='navigation-dropdown' data-shared--navigation-target='list'>
      <div class='select-language'>
        <% I18n.available_locales.each do |locale| %>
          <%= link_to '', change_locale(locale), class: "flag flag_#{locale}" %>
        <% end %>
      </div>

      <%= link_to t('devise.logout'), destroy_user_session_path, class: 'logout-link' %>
    </div>
  </div>
</header>
