<%= render PageWrappers::PageComponent.new do %>
  <% if @portfolios.exists? %>
    <div class='page-container sidebar-container' data-controller='shared--sidebar analytics' data-reflex-root='#positions'>

      <%= render Shared::HeaderComponent.new(current_user: current_user) %>

      <section class='content-header'>
        <h4 class='content-title'><%= t('wrapper.navigation.analytics') %></h4>
        <div class='content-buttons'>
          <span class='button button-sm button-reverse' data-action='click->shared--sidebar#open' data-value-index='0'>
            <%= t('analytics.sidebar.button') %>
          </span>
          <span class='button button-sm button-reverse' data-action='click->shared--sidebar#open' data-value-index='1'>
            <%= t('analytics.sidebar.balance.button') %>
          </span>
        </div>
      </section>

      <div class='page-content'>
        <form id='portfolio-select'>
          <div
            class='form-field'
            data-controller='shared--select analytics--positions'
            data-action='shared--select:click:outside->shared--select#close'
            data-shared--select-value='<%= t('analytics.select.total') %>'
            data-shared--select-value-index='0'
          >
            <input type='hidden' id='portfolio_id' name='portfolio_id' data-shared--select-target='valueIndex' />
            <label class='form-label'><%= t('analytics.select.title') %></label>
            <div class='form-value select-value' data-action='click->shared--select#toggle' data-shared--select-target='value'></div>
            <div class='select-list' data-shared--select-target='list'>
              <div class='select-list-item' data-action='click->shared--select#select click->analytics--positions#filterByPortfolio' data-value-index='0'><%= t('analytics.select.total') %></div>
              <% @portfolios.each do |portfolio| %>
                <div class='select-list-item' data-action='click->shared--select#select click->analytics--positions#filterByPortfolio' data-value-index='<%= portfolio.id %>'><%= portfolio.name %></div>
              <% end %>
            </div>
          </div>
        </form>

        <div id='options-container' data-controller='analytics--options'>
          <div data-controller='shared--toggle' data-shared--toggle-element-value='false'>
            <input type='hidden' id='show_plans' name='show_plans' data-shared--toggle-target='value' />
            <div class='toggle-box' data-action='click->shared--toggle#toggleElement click->analytics--options#togglePlan'>
              <div class='toggle-box-content'>
                <span data-shared--toggle-target='switch' class='toggle-value'></span>
                <span class='toggle-text'><%= t('analytics.sidebar.options.show_plans') %></span>
              </div>
            </div>
          </div>

          <div data-controller='shared--toggle' data-shared--toggle-element-value='false'>
            <input type='hidden' id='show_dividents' name='show_dividents' data-shared--toggle-target='value' />
            <div class='toggle-box' data-action='click->shared--toggle#toggleElement click->analytics--options#toggleDividents'>
              <div class='toggle-box-content'>
                <span data-shared--toggle-target='switch' class='toggle-value'></span>
                <span class='toggle-text'><%= t('analytics.sidebar.options.show_dividents') %></span>
              </div>
            </div>
          </div>
        </div>

        <div id='positions'>
          <%= render Analytics::PositionsComponent.new(current_user: current_user) %>
        </div>
      </div>

      <%= render Shared::SidebarComponent.new(title: t('analytics.sidebar.title'), window_index: 0) do %>
        <div id='position-new-container'>
          <form data-controller='analytics--position-new' data-action='submit->analytics--position-new#submitForm'>

            <div
              class='form-field'
              data-controller='shared--select'
              data-action='shared--select:click:outside->shared--select#close'
              data-shared--select-value='<%= @portfolios.first.name %>'
              data-shared--select-value-index='<%= @portfolios.first.id %>'
            >
              <input type='hidden' name='position[portfolio_id]' data-shared--select-target='valueIndex' />
              <label class='form-label'><%= t('analytics.sidebar.select_portfolio') %></label>
              <div class='form-value select-value' data-action='click->shared--select#toggle' data-shared--select-target='value'></div>
              <div class='select-list' data-shared--select-target='list'>
                <% @portfolios.each do |portfolio| %>
                  <div class='select-list-item' data-action='click->shared--select#select' data-value-index='<%= portfolio.id %>'><%= portfolio.name %></div>
                <% end %>
              </div>
            </div>

            <div class='form-field hidden-by-default' data-analytics--position-new-target='securityBlock'>
              <label class='form-label'><%= t('analytics.sidebar.security') %></label>
              <div class='form-value' data-analytics--position-new-target='securityValue'></div>
            </div>

            <div class='dropdown-box' data-reflex-root='#quotes' data-analytics--position-new-target='dropdown'>
              <input type='hidden' name='position[quote_id]' data-analytics--position-new-target='quoteId' />
              <label class='form-label'><%= t('analytics.sidebar.select_security') %></label>
              <input type='text' class='form-value' placeholder='<%= t('analytics.sidebar.search') %>' data-action='debounced:input->analytics--position-new#searchQuotes' data-analytics--position-new-target='selectInput' />
              <div id='quotes' class='dropdown-list'>
                <%= render Analytics::QuotesComponent.new(quotes: @quotes) %>
              </div>
            </div>

            <div
              class='form-field'
              data-controller='shared--select'
              data-action='shared--select:click:outside->shared--select#close'
              data-shared--select-value='<%= t('analytics.sidebar.buy') %>'
              data-shared--select-value-index='0'
            >
              <input type='hidden' name='position[operation]' data-analytics--position-new-target='operation' data-shared--select-target='valueIndex' />
              <label class='form-label'><%= t('analytics.sidebar.transaction') %></label>
              <div class='form-value select-value' data-action='click->shared--select#toggle' data-shared--select-target='value'></div>
              <div class='select-list' data-shared--select-target='list'>
                <div class='select-list-item' data-action='click->shared--select#select' data-value-index='0'><%= t('analytics.sidebar.buy') %></div>
                <div class='select-list-item' data-action='click->shared--select#select' data-value-index='1'><%= t('analytics.sidebar.sell') %></div>
                <div class='select-list-item' data-action='click->shared--select#select' data-value-index='2'><%= t('analytics.sidebar.plan') %></div>
              </div>
            </div>

            <div class='form-field'>
              <label class='form-label'><%= t('analytics.sidebar.price') %></label>
              <input name='position[price]' class='form-value' data-analytics--position-new-target='price' data-action='keyup->analytics--position-new#refreshTotalPrice' />
            </div>

            <div class='form-field'>
              <label class='form-label'><%= t('analytics.sidebar.amount') %></label>
              <input name='position[amount]' class='form-value' data-analytics--position-new-target='amount' data-action='keyup->analytics--position-new#refreshTotalPrice' />
            </div>

            <div class='form-field'>
              <label class='form-label'><%= t('analytics.sidebar.total_price') %></label>
              <input disabled class='form-value' data-analytics--position-new-target='totalPrice' />
            </div>

            <button class='button' type='submit'>
              <%= t('analytics.sidebar.button') %>
            </button>
          </form>
        </div>
      <% end %>

      <%= render Shared::SidebarComponent.new(title: t('analytics.sidebar.balance.title'), window_index: 1) do %>
        <div id='balance-container'>
          <form data-controller='analytics--balance' data-action='submit->analytics--balance#submitForm'>

            <div
              class='form-field'
              data-controller='shared--select'
              data-action='shared--select:click:outside->shared--select#close'
              data-shared--select-value='<%= @portfolios.first.name %>'
              data-shared--select-value-index='<%= @portfolios.first.id %>'
            >
              <input type='hidden' name='portfolio_id' data-shared--select-target='valueIndex' />
              <label class='form-label'><%= t('portfolios.sidebar.operations.select_portfolio') %></label>
              <div class='form-value select-value' data-action='click->shared--select#toggle' data-shared--select-target='value'></div>
              <div class='select-list' data-shared--select-target='list'>
                <% @portfolios.each do |portfolio| %>
                  <div class='select-list-item' data-action='click->shared--select#select' data-value-index='<%= portfolio.id %>'><%= portfolio.name %></div>
                <% end %>
              </div>
            </div>

            <% Cashable::AVAILABLE_CURRENCIES.each do |currency| %>
              <div class='form-field'>
                <label class='form-label'><%= Money::Currency.new(currency).iso_code %></label>
                <input name='portfolio[<%= currency %>]' class='form-value' value='<%= @first_portfolio_cashes.find { |e| e.amount_currency == currency.upcase }&.amount_cents.to_i / 100.0 %>' />
              </div>
            <% end %>

            <button class='button' type='submit'>
              <%= t('analytics.sidebar.balance.submit_button') %>
            </button>
          </form>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
