<%= render PageWrappers::PageComponent.new do %>
  <% if @portfolios.present? %>
    <div class='sidebar-container' data-controller='shared--sidebar' data-reflex-root='#positions'>
      <div class='sidebar-buttons'>
        <div class='button sidebar-open-button' data-action='click->shared--sidebar#open' data-value-index='0'>
          <%= t('analytics.sidebar.button') %>
        </div>
      </div>

      <form id='portfolio-select'>
        <div
          class='form-field'
          data-controller='shared--select analytics--positions'
          data-shared--select-value='<%= t('analytics.select.total') %>'
          data-shared--select-value-index='0'
        >
          <input type='hidden' id='portfolio_id' name='portfolio_id' data-shared--select-target='valueIndex' />
          <label class='form-label'><%= t('analytics.select.title') %></label>
          <div class='form-value' data-action='click->shared--select#open' data-shared--select-target='value'></div>
          <div class='select-list' data-shared--select-target='list'>
            <div class='select-list-item' data-action='click->shared--select#select click->analytics--positions#filterByPortfolio' data-value-index='0'><%= t('analytics.select.total') %></div>
            <% @portfolios.find_each do |portfolio| %>
              <div class='select-list-item' data-action='click->shared--select#select click->analytics--positions#filterByPortfolio' data-value-index='<%= portfolio.id %>'><%= portfolio.name %></div>
            <% end %>
          </div>
        </div>
      </form>

      <div id='positions'>
        <%= render Analytics::PositionsComponent.new(portfolios: current_user.portfolios, positions: @positions) %>
      </div>

      <%= render Shared::SidebarComponent.new(title: t('analytics.sidebar.title'), window_index: 0) do %>
        <div id='position-new-container' class='sidebar-content'>
          <form data-controller='analytics--position-new' data-action='submit->analytics--position-new#submitForm'>

            <div
              class='form-field'
              data-controller='shared--select'
              data-shared--select-value='<%= @portfolios.first.name %>'
              data-shared--select-value-index='<%= @portfolios.first.id %>'
            >
              <input type='hidden' name='position[portfolio_id]' data-shared--select-target='valueIndex' />
              <label class='form-label'><%= t('analytics.sidebar.select_portfolio') %></label>
              <div class='form-value' data-action='click->shared--select#open' data-shared--select-target='value'></div>
              <div class='select-list' data-shared--select-target='list'>
                <% @portfolios.find_each do |portfolio| %>
                  <div class='select-list-item' data-action='click->shared--select#select' data-value-index='<%= portfolio.id %>'><%= portfolio.name %></div>
                <% end %>
              </div>
            </div>

            <div class='form-field hidden-by-default' data-analytics--position-new-target='securityBlock'>
              <label class='form-label'><%= t('analytics.sidebar.security') %></label>
              <div class='form-value' data-analytics--position-new-target='securityValue'></div>
            </div>

            <div class='dropdown-box' data-reflex-root='#quotes' data-analytics--position-new-target='dropdown'>
              <input type='hidden' name='position[quote_id]' data-analytics--position-new-target='quoteId' />
              <label class='form-label'><%= t('analytics.sidebar.select_security') %></label>
              <input type='text' class='form-value' placeholder='<%= t('analytics.sidebar.search') %>' data-action='debounced:input->analytics--position-new#searchQuotes' data-analytics--position-new-target='selectInput' />
              <div id='quotes' class='dropdown-list'>
                <%= render Analytics::QuotesComponent.new(quotes: @quotes) %>
              </div>
            </div>

            <div
              class='form-field'
              data-controller='shared--select'
              data-shared--select-value='<%= t('analytics.sidebar.buy') %>'
              data-shared--select-value-index='0'
            >
              <input type='hidden' name='position[operation]' data-analytics--position-new-target='operation' data-shared--select-target='valueIndex' />
              <label class='form-label'><%= t('analytics.sidebar.transaction') %></label>
              <div class='form-value' data-action='click->shared--select#open' data-shared--select-target='value'></div>
              <div class='select-list' data-shared--select-target='list'>
                <div class='select-list-item' data-action='click->shared--select#select' data-value-index='0'><%= t('analytics.sidebar.buy') %></div>
                <div class='select-list-item' data-action='click->shared--select#select' data-value-index='1'><%= t('analytics.sidebar.sell') %></div>
              </div>
            </div>

            <div class='form-field'>
              <label class='form-label'><%= t('analytics.sidebar.price') %></label>
              <input name='position[price]' class='form-value' data-analytics--position-new-target='price' data-action='keyup->analytics--position-new#refreshTotalPrice' />
            </div>

            <div class='form-field'>
              <label class='form-label'><%= t('analytics.sidebar.amount') %></label>
              <input name='position[amount]' class='form-value' data-analytics--position-new-target='amount' data-action='keyup->analytics--position-new#refreshTotalPrice' />
            </div>

            <div class='form-field'>
              <label class='form-label'><%= t('analytics.sidebar.total_price') %></label>
              <input disabled class='form-value' data-analytics--position-new-target='totalPrice' />
            </div>

            <button class='button' type='submit'>
              <%= t('analytics.sidebar.button') %>
            </button>
          </form>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
