<%= render PageWrappers::PageComponent.new do %>
  <div id='portfolios-index-page' class='page-container sidebar-container'>
    <%= render Shared::HeaderComponent.new(current_user: current_user) %>
    <section class='content-header'>
      <div class='content-header-body container'>
        <h4 class='content-title'><%= t('wrapper.navigation.portfolios') %></h4>
        <div class='content-buttons'>
          <div data-behavior='new-portfolio-sidebar'>
            <span class='button button-sm button-reverse' @click.prevent='openSidebar()'>
              <%= t('portfolios.sidebar.list.button') %>
            </span>

            <%= render Shared::SidebarComponent.new(title: t('portfolios.sidebar.list.title')) do %>
              <div id='portfolio-new-container' class='sidebar-content'>
                <form>
                  <div class='form-field'>
                    <label class='form-label'><%= t('portfolios.sidebar.list.name') %> *</label>
                    <input class='form-value' v-model='name' :class='{ error: validation && name.length === 0 }' />
                  </div>

                  <div class='form-field'>
                    <label class='form-label'><%= t('portfolios.index.form_new.currency') %>*</label>
                    <div class='form-value select-value' @click.prevent='toggleCurrencySelect()'>{{ currencyName }}</div>
                    <div class='select-list' v-show='isCurrencySelectOpen'>
                      <% Cashable::AVAILABLE_CURRENCIES_UPCASE.each.with_index do |currency, index| %>
                        <div class='select-list-item' @click.prevent="selectCurrency('<%= currency %>', <%= index %>)">
                          <%= currency %>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <div class='form-field'>
                    <label class='form-label'><%= t('portfolios.index.form_new.select_source') %></label>
                    <div class='form-value select-value' @click.prevent='toggleSourceSelect()'>{{ sourceName }}</div>
                    <div class='select-list' v-show='isSourceSelectOpen'>
                      <div class='select-list-item' @click.prevent="selectBroker('', -1, '')">
                        <%= t('portfolios.index.form_new.no_source') %>
                      </div>
                      <% Brokerable::LISTABLE_BROKERS.select { |e| e[:available] }.each do |broker| %>
                        <div
                          class='select-list-item'
                          @click.prevent="selectBroker('<%= broker[:name][I18n.locale] %>', <%= broker[:index] %>, '<%= broker[:formats] %>')"
                        >
                          <%= broker[:name][I18n.locale] %>
                        </div>
                      <% end %>
                    </div>
                  </div>

                  <div class='form-field'>
                    <label class='form-label'><%= t('portfolios.sidebar.list.file') %></label>
                    <input type='file' class='form-value' :accept='fileFormats' :disabled='!isSourceSelected' @change='uploadFile($event)' />
                    <em><%= t('portfolios.sidebar.list.file_optional') %></em>
                  </div>

                  <button class='button' @click.prevent='submitForm()'>
                    <%= t('portfolios.sidebar.list.button') %>
                  </button>
                </form>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <div id='portfolios' class='page-content portfolios-list'>
      <div class='container'>
        <table class='table'>
          <thead>
            <tr>
              <th class='name-column'><%= t('portfolios.index.table_header.name') %></th>
              <th><%= t('portfolios.index.table_header.currency') %></th>
              <th><%= t('portfolios.index.table_header.broker') %></th>
              <th><%= t('portfolios.index.table_header.created') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for='portfolio in portfolios' :key='portfolio.attributes.id'>
              <td class='name-column'>{{ portfolio.attributes.name }}</td>
              <td>{{ portfolio.attributes.currency }}</td>
              <td>{{ portfolio.attributes.broker_name }}</td>
              <td>{{ portfolio.attributes.created_at }}</td>
              <td class='portfolio-actions'>
                <span class='delete-portfolio' @click.prevent='destroyPortfolio(portfolio.attributes.id)'></span>
                <span class='clear-portfolio' @click.prevent='clearPortfolio(portfolio.attributes.id)'></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
