<%= render PageWrappers::PageComponent.new do %>
  <div class='page-container sidebar-container' data-controller='shared--sidebar' data-reflex-root='#portfolios, [sidebar-portfolios-list]'>

    <%= render Shared::HeaderComponent.new(current_user: current_user) %>

    <section class='content-header'>
      <h4 class='content-title'><%= t('wrapper.navigation.portfolios') %></h4>
      <div class='content-buttons'>
        <span class='button button-sm button-reverse' data-action='click->shared--sidebar#open' data-value-index='0'>
          <%= t('portfolios.sidebar.list.button') %>
        </span>
        <div sidebar-portfolios-list>
          <% if @portfolios.exists? %>
            <span class='button button-sm button-reverse' data-action='click->shared--sidebar#open' data-value-index='1'>
              <%= t('portfolios.sidebar.operations.button') %>
            </span>
          <% end %>
        </div>
      </div>
    </section>

    <div id='portfolios' class='page-content portfolios-list'>
      <% @portfolios.each do |portfolio| %>
        <div id='portfolio_<%= portfolio.id %>' class='portfolio'>
          <%= render Portfolios::Index::ListElementComponent.new(portfolio: portfolio) %>
        </div>
      <% end %>
    </div>

    <%= render Shared::SidebarComponent.new(title: t('portfolios.sidebar.list.title'), window_index: 0) do %>
      <div id='portfolio-new-container' class='sidebar-content'>
        <form
          data-controller='portfolios--portfolio-new'
          data-action='submit->portfolios--portfolio-new#submitForm'
          data-portfolios--portfolio-new-source='Tinkoff'
        >

          <div class='form-field'>
            <label class='form-label'><%= t('portfolios.sidebar.list.name') %></label>
            <input name='portfolio[name]' class='form-value' data-portfolios--portfolio-new-target='name' />
          </div>

          <div
            class='form-field'
            data-controller='shared--select'
            data-shared--select-value='Tinkoff'
            data-shared--select-value-index='0'
          >
            <input type='hidden' data-shared--select-target='valueIndex' />
            <label class='form-label'><%= t('portfolios.sidebar.operations.select_source') %></label>
            <div
              class='form-value'
              data-action='click->shared--select#open'
              data-shared--select-target='value'
              data-portfolios--portfolio-new-target='source'
            ></div>
            <div class='select-list' data-shared--select-target='list'>
              <div class='select-list-item' data-action='click->shared--select#select' data-value-index='0'>Tinkoff</div>
            </div>
          </div>

          <div class='form-field'>
            <label class='form-label'><%= t('portfolios.sidebar.list.file') %></label>
            <input type='file' name='file' class='form-value' data-portfolios--portfolio-new-target='file' />
          </div>

          <button class='button' type='submit'>
            <%= t('portfolios.sidebar.list.button') %>
          </button>
        </form>
      </div>
    <% end %>

    <div sidebar-portfolios-list>
      <% if @portfolios.exists? %>
        <%= render Shared::SidebarComponent.new(title: t('portfolios.sidebar.operations.title'), window_index: 1) do %>
          <div id='portfolio-operations-container'>
            <form data-controller='portfolios--cash-new' data-action='submit->portfolios--cash-new#submitForm'>

              <div
                class='form-field'
                data-controller='shared--select'
                data-shared--select-value='<%= @portfolios.first.name %>'
                data-shared--select-value-index='<%= @portfolios.first.id %>'
              >
                <input type='hidden' name='portfolio_id' data-shared--select-target='valueIndex' />
                <label class='form-label'><%= t('portfolios.sidebar.operations.select_portfolio') %></label>
                <div class='form-value' data-action='click->shared--select#open' data-shared--select-target='value'></div>
                <div class='select-list' data-shared--select-target='list'>
                  <% @portfolios.each do |portfolio| %>
                    <div class='select-list-item' data-action='click->shared--select#select' data-value-index='<%= portfolio.id %>'><%= portfolio.name %></div>
                  <% end %>
                </div>
              </div>

              <div
                class='form-field'
                data-controller='shared--select'
                data-shared--select-value='<%= t('portfolios.sidebar.operations.deposit') %>'
                data-shared--select-value-index='0'
              >
                <input type='hidden' name='portfolio[operation]' data-shared--select-target='valueIndex' />
                <label class='form-label'><%= t('portfolios.sidebar.operations.transaction') %></label>
                <div class='form-value' data-action='click->shared--select#open' data-shared--select-target='value'></div>
                <div class='select-list' data-shared--select-target='list'>
                  <div class='select-list-item' data-action='click->shared--select#select' data-value-index='0'><%= t('portfolios.sidebar.operations.deposit') %></div>
                  <div class='select-list-item' data-action='click->shared--select#select' data-value-index='1'><%= t('portfolios.sidebar.operations.withdraw') %></div>
                </div>
              </div>

              <% Cashable::AVAILABLE_CURRENCIES.each do |currency| %>
                <div class='form-field'>
                  <label class='form-label'><%= Money::Currency.new(currency).iso_code %></label>
                  <input name='portfolio[<%= currency %>]' class='form-value' value='0' />
                </div>
              <% end %>

              <button class='button' type='submit'>
                <%= t('portfolios.sidebar.operations.button') %>
              </button>
            </form>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
