<%= render PageWrappers::PageComponent.new do %>
  <div class='sidebar-container' data-controller='shared--sidebar' data-reflex-root='#portfolios'>
    <div class='sidebar-buttons'>
      <div class='button sidebar-open-button' data-action='click->shared--sidebar#open' data-value-index='0'>
        <%= t('accounts.sidebar.button') %>
      </div>
      <div class='button sidebar-open-button' data-action='click->shared--sidebar#open' data-value-index='1'>
        <%= t('accounts.sidebar.operations.button') %>
      </div>
    </div>

    <div id='portfolios' class='portfolios-list'>
      <%= render Portfolios::ListComponent.new(portfolios: @portfolios) %>
    </div>

    <%= render Shared::SidebarComponent.new(title: t('accounts.sidebar.title'), window_index: 0) do %>
      <div id='portfolio-new-container' class='sidebar-content'>
        <form data-controller='accounts--portfolio-new' data-action='submit->accounts--portfolio-new#submitForm'>

          <div class='form-field'>
            <label class='form-label'><%= t('accounts.sidebar.name') %></label>
            <input name='portfolio[name]' class='form-value' data-target='accounts--portfolio-new.name' />
          </div>

          <button class='button' type='submit'>
            <%= t('accounts.sidebar.button') %>
          </button>
        </form>
      </div>
    <% end %>

    <%= render Shared::SidebarComponent.new(title: t('accounts.sidebar.operations.title'), window_index: 1) do %>
      <div id='portfolio-operations-container' class='sidebar-content'>
      </div>
    <% end %>
  </div>
<% end %>
