<div id='portfolio-totals'>
  <h4>
    <%= t('analytics.portfolio.total_price') %>:
    <span>
      <%= money_presenter(@positions_analytics[:total][:summary][:total_price].round(2), 'RUB') %>
    </span>
  </h4>
  <h4>
    <%= t('analytics.portfolio.profit') %>:
    <%- income_percent = @positions_analytics[:total][:summary][:income_percent] %>
    <span>
      <%= money_presenter(@positions_analytics[:total][:summary][:total_income_price].round(2), 'RUB') %>
      (<span class='<%= 'positive' if income_percent.positive? %>'><%= '+' if income_percent.positive? %><%= income_percent %>%</span>)
    </span>
  </h4>
</div>

<% %i[share bond foundation].each do |key| %>
  <% if @positions_analytics[key][:stats].present? %>
    <h4><%= t("analytics.table.#{key}_name") %></h4>

    <table class='positions-table mb-4'>
      <thead>
        <tr>
          <th class='name-column'><%= t('analytics.table.name') %></th>
          <th><%= t('analytics.table.amount') %></th>
          <% if key == :bond %>
            <th><%= t('analytics.table.face_value') %></th>
          <% end %>
          <th><%= t('analytics.table.average_price') %></th>
          <th><%= t('analytics.table.total_price') %></th>
          <th><%= t('analytics.table.current_price') %></th>
          <th><%= t('analytics.table.current_total_price') %></th>
          <% if key == :share && @options[:dividents] %>
            <th><%= t('analytics.table.dividents') %></th>
          <% end %>
          <% if key == :bond && @options[:dividents] %>
            <th><%= t('analytics.table.coupons') %></th>
          <% end %>
          <th><%= t('analytics.table.income') %></th>
          <th><%= t('analytics.table.exchange_profit') %></th>
        </tr>
      </thead>
      <tbody>
        <% @positions_analytics[key][:stats].each do |quote, stats| %>
          <tr class='position'>
            <td class='name-column'><%= quote.security.name[I18n.locale.to_s] %></td>
            <td><%= stats[:unsold_amount] %></td>
            <% if key == :bond %>
              <td><%= money_presenter(quote.face_value_cents / 100.0, quote.price_currency) %></td>
            <% end %>
            <td><%= money_presenter(stats[:buying_unsold_average_price], quote.price_currency) %></td>
            <td><%= money_presenter(stats[:buying_unsold_price], quote.price_currency) %></td>
            <td><%= money_presenter(quote.price, quote.price_currency) %></td>
            <td><%= money_presenter(stats[:selling_unsold_price], quote.price_currency) %></td>
            <% if key.in?(%i[share bond]) && @options[:dividents] %>
              <td>
                <% if stats[:dividents_amount_price].positive? %>
                  <%= money_presenter(stats[:dividents_amount_price], quote.price_currency) %>
                <% end %>
              </td>
            <% end %>
            <td><%= money_presenter(stats[:selling_unsold_income_price], quote.price_currency) %></td>
            <td class='<%= 'profitable' if stats[:exchange_profit].positive? %> <%= 'negative' if stats[:exchange_profit].negative? %>'><%= stats[:exchange_profit] %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if @positions_analytics[key][:plans].present? %>
    <h5><%= t("analytics.table.header.plan_#{key}") %></h5>

    <table class='positions-table mb-4'>
      <thead>
        <tr>
          <th class='name-column'><%= t('analytics.table.name') %></th>
          <th><%= t('analytics.table.amount') %></th>
          <% if key == :bond %>
            <th><%= t('analytics.table.face_value') %></th>
          <% end %>
          <th><%= t('analytics.table.plan_price') %></th>
          <th><%= t('analytics.table.total_price') %></th>
          <th><%= t('analytics.table.current_price') %></th>
          <% if key == :share && @options[:dividents] %>
            <th><%= t('analytics.table.dividents') %></th>
          <% end %>
          <% if key == :bond && @options[:dividents] %>
            <th><%= t('analytics.table.coupons') %></th>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @positions_analytics[key][:plans].each do |quote, stats| %>
          <tr class='position plan'>
            <td class='name-column'><%= quote.security.name[I18n.locale.to_s] %></td>
            <td><%= stats[:amount] %></td>
            <% if key == :bond %>
              <td><%= money_presenter(quote.face_value_cents / 100.0, quote.price_currency) %></td>
            <% end %>
            <td><%= money_presenter(stats[:price], quote.price_currency) %></td>
            <td><%= money_presenter(stats[:selling_total_price], quote.price_currency) %></td>
            <td><%= money_presenter(quote.price, quote.price_currency) %></td>
            <% if key.in?(%i[share bond]) && @options[:dividents] %>
              <td>
                <% if stats[:dividents_amount_price].positive? %>
                  <%= money_presenter(stats[:dividents_amount_price], quote.price_currency) %>
                <% end %>
              </td>
            <% end %>
            <td
              class='remove-plan'
              data-action='click->analytics#destroyPlan'
              data-value-index='<%= stats[:position_id] %>'
            >
              x
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<% if @actives_pie_stats.size.positive? %>
  <h5><%= t('analytics.actives.header') %></h5>

  <div class='sectors-chart-box mb-4'>
    <div
      id='actives-pie-container'
      data-controller='analytics--actives'
      data-analytics--actives-pie-value='<%= @actives_pie_stats.to_json %>'
    >
      <canvas id='actives-pie' width='600' height='200'></canvas>
    </div>
    <div id='actives-legend'></div>
  </div>
<% end %>

<% if @sector_pie_stats.size.positive? %>
  <h5><%= t('analytics.sectors.header') %></h5>

  <div class='sectors-chart-box mb-4'>
    <div
      id='sectors-pie-container'
      data-controller='analytics--sectors'
      data-analytics--sectors-pie-value='<%= @sector_pie_stats.to_json %>'
    >
      <canvas id='sectors-pie' width='600' height='200'></canvas>
    </div>
    <div id='legend'></div>
  </div>
<% end %>
