<h5>Прибыль портфеля</h5>
<%- income_percent = @portfolio_stats['Total']['ACCUMULATE'][:income_percent] %>
<p>
  <%= Money::Currency.new('RUB').symbol %>
  <%= Money.new(@portfolio_stats['Total']['ACCUMULATE'][:income_cents]) %>
  (<span class='<%= 'positive' if income_percent.positive? %>'><%= '+' if income_percent.positive? %><%= income_percent %>%</span>)
</p>

<% %w[Share Foundation Bond].each do |key| %>
  <% if @portfolio_stats[key][:elements].present? %>
    <h5><%= @portfolio_stats[key][:name] %></h5>

    <table class='positions-table'>
      <thead>
        <tr>
          <th class='name-column'><%= t('analytics.table.name') %></th>
          <th><%= t('analytics.table.amount') %></th>
          <th><%= t('analytics.table.total_price') %></th>
          <th><%= t('analytics.table.average_price') %></th>
          <th><%= t('analytics.table.current_price') %></th>
          <th><%= t('analytics.table.current_total_price') %></th>
          <th><%= t('analytics.table.income') %></th>
          <th>Курсовая разница</th>
        </tr>
      </thead>
      <tbody>
        <% @portfolio_stats[key][:elements].each do |quote, positions| %>
          <tr class='position'>
            <td class='name-column'><%= quote.security.name[I18n.locale.to_s] %></td>
            <td><%= positions[:unsold_amount] %></td>
            <td><%= Money.new(positions[:buying_unsold_cents], quote.price_currency).format %></td>
            <td><%= Money.new(positions[:buying_unsold_average_cents], quote.price_currency).format %></td>
            <td><%= Money.new(quote.price_cents, quote.price_currency).format %></td>
            <td><%= Money.new(positions[:selling_unsold_cents], quote.price_currency).format %></td>
            <td><%= Money.new(positions[:selling_unsold_income_cents], quote.price_currency).format %></td>
            <td><%= positions[:exchange_profit] %>%</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
