<div class='oauth'>
  <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
    <span><%= image_tag asset_pack_path('media/images/icons/google.svg'), alt: 'google logo' %></span>
    <span><%= t('devise.oauth.with_google') %></span>
  <% end %>

  <%= link_to user_vkontakte_omniauth_authorize_path, method: :post do %>
    <span><%= image_tag asset_pack_path('media/images/icons/vk.svg'), alt: 'vk logo' %></span>
    <span><%= t('devise.oauth.with_vk') %></span>
  <% end %>

  <%= link_to user_yandex_omniauth_authorize_path, method: :post do %>
    <span><%= image_tag asset_pack_path('media/images/icons/yandex.svg'), alt: 'yandex logo' %></span>
    <span><%= t('devise.oauth.with_yandex') %></span>
  <% end %>
</div>
