<div class='container'>
  <table class='table'>
    <thead>
      <tr>
        <th class='name-column'><%= t('portfolios.index.table_header.name') %></th>
        <th><%= t('portfolios.index.table_header.currency') %></th>
        <th><%= t('portfolios.index.table_header.broker') %></th>
        <th><%= t('portfolios.index.table_header.created') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @portfolios.each do |portfolio| %>
        <tr>
          <td class='name-column'><%= portfolio.name %></td>
          <td><%= portfolio.currency %></td>
          <td><%= portfolio.broker_name %></td>
          <td><%= portfolio.created_at.strftime('%d.%m.%Y') %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
