<% @portfolio_stats.each do |key, values| %>
  <% if values[:elements].present? %>
    <h5><%= key %></h5>

    <table class='positions-table'>
      <thead>
        <tr>
          <th class='name-column'>Название</th>
          <th>Кол-во</th>
          <th>Стоимость покупки</th>
          <th>Средняя цена</th>
          <th>Текущая цена</th>
          <th>Текущая стоимость</th>
          <th>Разница</th>
        </tr>
      </thead>
      <tbody>
        <% values[:elements].each do |quote, portfolio_stats| %>
          <tr class='position'>
            <td class='name-column'><%= quote.security.name[I18n.locale.to_s] %></td>
            <td><%= portfolio_stats[:total_amount] %></td>
            <td><%= Money.new(portfolio_stats[:total_price_cents], quote.price_currency).format %></td>
            <td><%= Money.new(portfolio_stats[:total_price_cents] / portfolio_stats[:total_amount], quote.price_currency).format %></td>
            <td><%= Money.new(quote.price_cents, quote.price_currency).format %></td>
            <td><%= Money.new(quote.price_cents * portfolio_stats[:total_amount], quote.price_currency).format %></td>
            <td><%= Money.new(quote.price_cents * portfolio_stats[:total_amount] - portfolio_stats[:total_price_cents], quote.price_currency).format %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
