<div class='home'>
  <h1>Home</h1>

  <% @quotes.each do |quote| %>
    <div class='quote'>
      <p><%= quote.security.type %></p>
      <p><%= quote.security.ticker %></p>
      <p><%= quote.security.name[I18n.locale.to_s] %></p>
      <p><%= quote.price_cents / 100.0 %></p>
      <p><%= quote.price_currency %></p>
    </div>
  <% end %>
</div>
