<%= render PageWrappers::PageComponent.new do %>
  <div class='sidebar-container' data-controller='shared--sidebar'>
    <div class='' data-action='click->shared--sidebar#open'>
      ADD
    </div>

    <%= render Shared::SidebarComponent.new(title: 'New Quote') do %>
      <div id='quote-new-container' class='sidebar-content'>
        <div data-reflex-root='#morph' data-controller='quote-new'>
          <div class='selected-value' data-target='quote-new.security'></div>
          <div class='dropdown-box' data-target='quote-new.dropdown'>
            <label class='dropdown-label'>Select security</label>
            <input type='text' class='dropdown-input' placeholder='Search for a quote...' data-reflex='change->QuoteSearchReflex#perform' />
            <div id='morph' class='dropdown-list'>
              <% if @quotes.present? %>
                <% @quotes.each do |quote| %>
                  <div class='dropdown-list-element' data-action='click->quote-new#selectQuote' data-quote-name='<%= quote.security.name[I18n.locale.to_s] %>' data-quote-price='<%= quote.price_cents / 100.0 %>'>
                    <%= "#{quote.security.ticker} (#{quote.security.name[I18n.locale.to_s]}), #{Money.new(quote.price_cents, quote.price_currency).format} (#{quote.security.type})" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class='selected-value selected'>
            <span class='text-label'>Price</span>
            <input class='text-value' data-target='quote-new.price' />
          </div>

          <div class='selected-value selected'>
            <span class='text-label'>Amount</span>
            <input class='text-value' />
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
