<%= render PageWrappers::PageComponent.new do %>
  <div class='sidebar-container' data-controller='shared--sidebar'>
    <div class='' data-action='click->shared--sidebar#open'>
      ADD
    </div>

    <%= render Shared::SidebarComponent.new(title: 'New Quote') do %>
      <div class='sidebar-content'>
        <div data-reflex-root='#morph'>
          <input type='text' placeholder='Search for a quote...' data-reflex='change->QuoteSearchReflex#perform'>
          <div id='morph'>
            <% unless @quotes.nil? %>
              <span class='text-success'>
                <strong><%= @quotes&.size %></strong> quotes found
              </span>
              <% if @quotes.present? %>
                <table class="table mt-2">
                  <thead>
                    <tr>
                      <th scope="col">Ticker</th>
                      <th scope="col">Name</th>
                      <th scope="col">Type</th>
                      <th scope="col">Price</th>
                      <th scope="col">Currency</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @quotes.each do |quote| %>
                      <tr>
                        <td><%= quote.security.ticker %></td>
                        <td><%= quote.security.name[I18n.locale.to_s] %></td>
                        <td><%= quote.security.type %></td>
                        <td><%= quote.price_cents / 100.0 %></td>
                        <td><%= quote.price_currency %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
