<!DOCTYPE html>
<html>
  <head>
    <title>InvestPlanPro</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='Keywords' content='<%= t('meta.keywords') %>' />
    <meta name='Description' content='<%= t('meta.description') %>' />
    <meta property='og:title' content='InvestPlan - investment planning service' />
    <meta property='og:description' content='Investment planning service' />
    <meta property='og:type' content='WebService' />
    <meta property='og:url' content='https://invest-plan.pro' />
    <meta itemprop='name' content='InvestPlan - investment planning service' />
    <meta itemprop='description' content='Investment planning service' />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <input type='hidden' name='current_locale' id='current_locale' value='<%= I18n.locale %>' />
    <%= yield %>
  </body>
</html>
