<%= render PageWrappers::PageComponent.new do %>
  <div class='page-container sidebar-container' data-controller='shared--sidebar' data-reflex-root='#operations'>

    <%= render Shared::HeaderComponent.new(current_user: current_user) %>

    <section class='content-header'>
      <div class='content-header-body container'>
        <h4 class='content-title'><%= t('wrapper.navigation.operations') %></h4>
      </div>
    </section>

    <div class='page-content'>
      <div class='container'>
        <div id='analytics-header'>
          <form id='portfolio-select'>
            <div
              class='form-field'
              data-controller='shared--select analytics--positions'
              data-action='shared--select:click:outside->shared--select#close'
              data-shared--select-value='<%= t('analytics.select.total') %>'
              data-shared--select-value-index='0'
            >
              <input type='hidden' id='portfolio_id' name='portfolio_id' data-shared--select-target='valueIndex' />
              <label class='form-label'><%= t('analytics.select.title') %></label>
              <div class='form-value select-value' data-action='click->shared--select#toggle' data-shared--select-target='value'></div>
              <div class='select-list' data-shared--select-target='list'>
                <div class='select-list-item' data-action='click->shared--select#select click->analytics--positions#filterByPortfolio' data-value-index='0'><%= t('analytics.select.total') %></div>
                <% @portfolios.each do |portfolio| %>
                  <div class='select-list-item' data-action='click->shared--select#select click->analytics--positions#filterByPortfolio' data-value-index='<%= portfolio.id %>'><%= portfolio.name %></div>
                <% end %>
              </div>
            </div>
          </form>
        </div>

        <div id='operations'>
          <%= render Operations::Index::ListComponent.new(current_user: current_user) %>
        </div>
      </div>
    </div>
  </div>
<% end %>
